@model IEnumerable<Fall2015.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
    <a href="@Url.Action("Edit", "Students", new { studentId=item.StudentId})">
        <img src="../../@item.ProfileImagePath" class="thumbnail"/>
    </a>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { studentId=item.StudentId }) |
            @Html.ActionLink("Details", "Details", new { studentId=item.StudentId }) |
            @Html.ActionLink("Delete", "Delete", new { studentId=item.StudentId })
        </td>
    </tr>
}

</table>
